*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  background: white;
  width: 100vw;
}
header{
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 10px; align-items: center;
  padding: 10px 35px;
  font-size: 22px;
  z-index: 1000;
}
.logo{
  font-weight: bold;
   color: red;  
   font-size: 26px;
   display: flex;
   gap: 10px;
 }
 .search-container{
  display: flex;
  gap: 30px;
}
.search-container .search-bar {
 width: 600px;
 border: none;
 color: #000;
 outline: none;
 padding: 0 15px;
 border-radius: 20px;
 box-shadow: 0 0 2px rgb(53, 53, 53), 0 0 2px rgb(53, 53, 53);
}
.search-container button{
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(214, 219, 224);
  padding: 5px;
  cursor: pointer;
}
.icons {
  display: flex;
  gap: 30px;
  cursor: pointer;
  font-weight: bold;
}
aside{
  width: 18%;
  position: fixed;
  top: 80px;
  left: 0;
  padding: 8px 0;
  margin: 10px 0;
  overflow-y: scroll;
  height: 100vh;
  font-weight: 500;
  z-index: 1000;
}
nav ul li{
  list-style: none;
  margin: 8px 14px;
  display: flex;
  align-items: center;
}
nav ul li i{
padding: 12px 25px;
}
hr{
  border:1px solid rgba(19, 19, 19, 0.668);
}
main {
  height:auto;
  margin-left: 260px;
  padding: 20px;
  margin-bottom: 20px;
  position: absolute;
  top: 90px;
}
.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.video-card {
  border-radius: 8px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.453);
  overflow: hidden;
}
.video-card .time{
 float: right;
 position: relative;
 top: -40px;
 color: white;
 font-weight: bold;
 background: rgb(29, 28, 27);
 padding: 0 4px;
}
.video-card h3 {
  font-size: 22px;
  margin: 12px;
}
.video-card p {
  font-size: 16px;
  color: black;
  margin:  6px 12px;
}
.video-card img {
  width: 100%;
  height:auto;
}
